html
    head
        link(rel="stylesheet",href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
    body
        nav.navbar.navbar-expand-lg.navbar-light.bg-light
            a.navbar-brand(href='#') Navbar
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarNav.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item.active
                        a.nav-link(href='/') Home 
                    li.nav-item
                        a.nav-link(href='/user') Users
                    li.nav-item
                        a.nav-link(href='/product') Product
                    li.nav-item
                        a.nav-link(href='/cart') 
                            |Cart
                            span.badge.badge-primary.badge-secondary=countCart
                      
            if(user)
                img.rounded-circle.border-primary.m-3-1(src=user.file,width="32",height="32")
                span.font-weight-bold=user.name
    .container.col-md-10
        block content