extends ./layouts/common.pug
block content
    h1 UPDATE PRODUCT
    form(method="POST", action="/user/update")
        label(name="name") name to find
        input(type="text" name="nameToFind")
        label(name="name") name to change
        input(type="text" name="nameToChange")
        button update product