extends ./layouts/common.pug
block content
    .d-flex.align-items-center.justify-content-between.ml-3.mt-3
        a.btn-primary.p-2.text-decoration-none.rounded(href='/user/create') User List
        form(action='/user/search' method="GET")
            input(type='text',name='q')
            input(type='text', name='age')
            button.btn-primary.text-decoration-none.rounded Search product
    
    table.table
        tr 
            th Name
            th Phone
            th Delete
            th View
        each val in user
            tr
                td=val.name
                td=val.phone
                td
                    a.btn-light.p-2.text-decoration-none.rounded(href='/user/delete/'+val.id) Delete
                td
                    a.btn-light.p-2.text-decoration-none.rounded(href='/user/'+val.id) View
                                